userPicDimension = 40px

.navbar
  border-radius 0px

[data-class='UserNavbar']
  .dropdown-toggle
    padding-top 5px
    padding-bottom 5px

  a:focus
    outline none

  .user-pic
    display inline-block

    img
      width userPicDimension
      height userPicDimension
      margin-right 7px