userPicDimension = 46px

.navbar
  border-radius 0px

[data-class='UserNavbar']
  .dropdown-toggle
    padding-top 2px
    padding-bottom 0

  a:focus
    outline none

  .user-pic
    display inline-block

    img
      width userPicDimension
      height userPicDimension
      margin-right 7px